.u-section-1 .u-sheet-1 {
  min-height: 643px;
}

.u-section-1 .u-group-1 {
  width: 428px;
  box-shadow: 0 0 11px 0 rgba(128,43,177,1);
  min-height: 358px;
  height: auto;
  margin: 196px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 13px;
  height: 323px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}