.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 149px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 49px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(209, 215, 224) !important;
  font-size: 0.9em;
  vertical-align: 1px;
}